$theme-color: #B2D235;
$text-color: #505353;
$white-color: #FFFFFF;
$gray-color: rgba(174,175,175,1);
$black-color: rgba(0, 0, 0, 0.25);
$fe-tut : #3F6185;
$laravel-tut: #DC594C;
$php-tut: #556598;
$other-courses: #11114E;
$css-tut: #24ABE2;
$rails-tut: #E14E40;
$java-tut: #1B75BB;
