@import "variable/color";
@import "variable/media";

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;  
}

.container-lg {
  .row {
    width: 100%;
  }
}

button {
  background-color: $theme-color;
  box-shadow: inset 0px 0.4rem 0.4rem $black-color;
  border: none;

  &:hover {
    transform: scale(0.9);
  }

  a {
    color: $white-color;
    text-decoration: none;

    &:hover {
      color: $white-color;
    }
  }
}

@import "component/header";
@import "component/banner";
@import "component/courses";
@import "component/why_hapolearn";

