body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;  
}

.container-lg {
  .row {
    width: 100%;
  }
}

@import "variable/color";
@import "variable/media";
@import "component/header";
@import "component/banner";


